/* src/components/MyLogin.css */

/* Add a background image */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/8228.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Style the login card */
  .login-card {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  /* Style the login title */
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the login input fields */
  .login-input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  /* Style the login button */
  .login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .login-card {
      max-width: 90%;
    }
  }
  